* {
  font-family: 'Roboto', sans-serif;
}

canvas {
  background-color: black;
  position: absolute;
}

footer {
  display: flex;
  align-items: center;
  height: 5vh;
  background-color: black;
  padding: 15px;
}

footer > span {
  color: white;
}

.larege-text {
  font-size: 10rem;
}

@media(max-width: 767px) {
  .mobile-reverse {
    flex-direction: column-reverse;
    display: flex;
  }
}

.f00ter {
  background-color: black;
  padding: 50px !important;
}