* {
  font-family: 'Roboto', sans-serif;
}

canvas {
  background-color: black;
  position: absolute;
}

.larege-text {
  font-size: 10rem;
}

@media(max-width: 767px) {
  .mobile-reverse {
    flex-direction: column-reverse;
    display: flex;
  }
}

.f00ter {
  background-color: black;
  padding: 50px !important;
}

.bg-main {
  background-color: #F40873;
  border-color: transparent;
  color: white;
}

.bg-main:hover {
  background-color: rgb(224, 0, 101);
  border-color: transparent;
  color: white;
}

.text-main {
  color: #F40873;
}